h1, p{
    text-align: center;
}    
img {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
} 

h2 {
    color: blue;
    text-align: center;
}

.first {
    background-color:cornflowerblue
}

.second {
    margin:30px;
    background-color:cornflowerblue;
    border: 2px solid lightgreen;
    padding: 5px;
}

.important {
    color: red;
    background-color:black;
}

.fancy {
    text-shadow: 2px 3px 3px green;
}

.main {
    background-image: linear-gradient(rgb(197, 141, 137), rgb(252, 232, 204));
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 48px;
}

.header-info {
    text-align: left;
    color: rgb(219, 84, 75);
    position: absolute;
    left: 0;
    padding: 0;
    margin: 14-x 14px 0 14px
}

.header-info a {
    padding: 0;
    text-decoration: none;
}
.header-info a:hover {
    background-color: transparent
}

nav {
    position: absolute;
    right: 0;
    display: flex;
}

a {
    text-decoration: none;
    color: rgb(219, 84, 75);
    padding: 15px;
    float: left;
}

a:hover {
    background-color: burlywood;
}

